<div class="detalle-container">

  @if (loading()) {
    <p class="loading">Cargando usuario...</p>
  }

  @else if (usuario()) {
    <div class="card-detalle">

      <div class="avatar">
        <span>{{ usuario()?.username}}</span>
      </div>

      <h2>{{ usuario()?.username }}</h2>
      <p class="email">{{ usuario()?.email }}</p>

      <div class="info-list">
        <p><strong>DNI:</strong> {{ usuario()?.dni }}</p>
        <p><strong>Fecha de nacimiento:</strong> {{ usuario()?.fechaNacimiento }}</p>
        <p><strong>Rol:</strong> {{ usuario()?.isAdmin ? 'Administrador' : 'Usuario' }}</p>
      </div>

      <div class="acciones">

  <!-- Puede editar su propio perfil o cualquier usuario si es admin -->
  @if (isCurrentUser() || isAdmin()) {
    <button class="btn btn-primary" (click)="editar()">Editar</button>
  }

  <!-- Solo admin puede eliminar y nunca puede eliminarse -->
  @if (isAdmin() && !isCurrentUser()) {
    <button class="btn btn-delete" (click)="eliminar()">Eliminar</button>
  }

  <button class="btn btn-secondary" (click)="volver()">Volver</button>

</div>

    </div>
  }

</div>
