.detalle-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: var(--color-bg);
  min-height: 100vh;
}

.card-detalle {
  background: var(--color-bg-card-2);
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border-radius: var(--radius);
  color: var(--color-text);
  box-shadow: var(--shadow);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.avatar {
  width: 95px;
  height: 95px;
  margin: 0 auto;
  border-radius: 50%;
  background: var(--color-bg-card);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #676767;
  font-size: 2.6rem;
}

.email {
  color: var(--color-text-soft);
}

.info-list {
  text-align: left;
  margin-top: 1rem;
}

.info-list p {
  margin: 6px 0;
}

.acciones {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.6rem;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
}

.btn-primary {
  background: var(--color-accent);
  color: #121212;
}

.btn-primary:hover {
  background: #f2e1c9;
}

.btn-delete {
  background: var(--color-danger);
}

.btn-delete:hover {
  background: #d84545;
}

.btn-secondary {
  background: #4b4b4b;
  color: var(--color-text);
}

.btn-secondary:hover {
  background: #5c5c5c;
}
