<div class="detalle-wrapper">

  <div class="detalle-card glass fade-in">

    @if (libro()) {

      <!-- COLUMNA IZQUIERDA -->
      <div class="left-box">

        <div class="img-box">
          <img [src]="libro()!.portada || 'assets/placeholder.png'" alt="Portada">
        </div>

        <button class="btn-volver" (click)="volver()">← Volver</button>

      </div>

      <!-- COLUMNA DERECHA -->
      <div class="info-box">

        <h2 class="titulo">{{ libro()!.titulo }}</h2>

        <p class="info-line"><span>Autor:</span> {{ libro()!.autor || 'Desconocido' }}</p>
        <p class="info-line"><span>Género:</span> {{ libro()!.genero || 'No indicado' }}</p>
        <p class="info-line"><span>Año:</span> {{ libro()!.anioPublicacion || '---' }}</p>

        <!-- Estado -->
        <div class="estado-box">
          <label>Estado de lectura:</label>

          <button class="estado-btn"
            [class.active]="estadoLectura()==='No leído'"
            (click)="cambiarEstado('No leído')">
            No leído
          </button>

          <button class="estado-btn"
            [class.active]="estadoLectura()==='Leyendo'"
            (click)="cambiarEstado('Leyendo')">
            Leyendo
          </button>

          <button class="estado-btn"
            [class.active]="estadoLectura()==='Terminado'"
            (click)="cambiarEstado('Terminado')">
            Terminado
          </button>
        </div>

        <!-- Reseña -->
        <div class="resena-box">

          <h3>Reseña</h3>

          @if(resena()) {

            <div class="rating">
              @for (star of estrellas(); track $index) {
                <span class="star">{{ star }}</span>
              }
            </div>

            <p class="comentario">{{ resena()!.comentario }}</p>

            <div class="resena-actions">
              <button class="edit" (click)="agregarResena()">Editar reseña ✏️</button>
              <button class="delete" (click)="eliminarResena()">Eliminar ❌</button>
            </div>

          } @else {

            <p class="no-resena">Aún no agregaste reseña</p>

            <button class="add-btn" (click)="agregarResena()">
              Agregar reseña ⭐
            </button>

          }

        </div>

      </div>

    } @else {

      <p class="not-found fade-in">Cargando...</p>

    }

  </div>
</div>

<!-- Reseña Aviso -->

@if (mostrarModal()) {
<div class="modal-overlay">
  <div class="modal-card glass fade-in">

    <h3>⚠️ ¿Agregar reseña sin terminar?</h3>
    <p>
      Este libro aún no está marcado como <strong>“Terminado”</strong>.<br>
      ¿Querés dejar igualmente una reseña?
    </p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="cerrarModal()">Cancelar</button>
      <button class="ok-btn" (click)="confirmarResena()">Continuar ⭐</button>
    </div>

  </div>
</div>
}
