.destacados-container {
 padding: 2rem;
 background-color: #121212;

 width: 100%;
 box-sizing: border-box;
}

.titulo-seccion {
 font-size: 2rem;
 margin-bottom: 1.5rem;
 text-align: center;
 color: white;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.destacados-container .grid-libros {
  display: flex;
  flex-wrap: wrap; 
  gap: 1.5rem;
  justify-content: flex-start;

  width: 100%;
}

.destacados-container .card-libro {
 cursor: pointer;
 background-color: #383636;
 box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.2);
 transition: transform 0.2s;
 text-align: center;
 border-radius: 12px;
 padding: 1rem;
 display: flex; 
 flex-direction: column;
 overflow: hidden;
 min-width: 0;

 flex-basis: 180px;
 flex-grow: 0;
 flex-shrink: 0;
}

.destacados-container .card-libro:hover {
 transform: scale(1.05);
}

.destacados-container .card-libro .portada {
 width: 100%; 
 object-fit: cover;
 height: 240px;
 border-radius: 10px;
 max-width: 100%;
}

.destacados-container .card-info {
 padding: 4px;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
}

.destacados-container .card-info h4 {
 min-height: 40px;
 line-height: 1.4em;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}

.destacados-container .card-info h4, 
.destacados-container .card-info p {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: white;
 font-size: 14px; 
 margin: 4px 0;
}

.destacados-container .card-info p {
 font-size: 12px;
 margin: 2px 0;
}