.footer {
  background-color: #121212;
  color: #e6e3e3;
  text-align: center;
  padding: 1.5rem 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  box-shadow: 0 -4px 8px rgba(255, 255, 255, 0.05);
  position: relative;
  bottom: 0;
  width: 100%;
  transition: background 0.3s ease;
}

.footer:hover {
  background-color: #1E1E1E;
}

.footer p {
  margin: 0;
  transition: color 0.2s ease;
}

.footer p:hover {
  color: #ffffff;
}
