.libros-container {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #121212;
}

.sidebar-filtros {
  width: 250px;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 1rem;
  height: fit-content;
}

.sidebar-filtros h3 {
  margin-bottom: 1rem;
}

.filtro {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.filtro label{
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.filtro input[type="text"],
.filtro input[type="number"],
.filtro select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.lista-libros {
  flex: 1;
}

.grid-libros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

.card-libro {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.card-libro img.portada {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.precio-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:host ::ng-deep .precio-range {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

:host ::ng-deep .precio-range > * {
  width: auto; 
}

:host ::ng-deep .precio-range input {
  width: 100%;
  box-sizing: border-box;
}

:host ::ng-deep .precio-range input[type="number"]::-webkit-outer-spin-button,
:host ::ng-deep .precio-range input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host ::ng-deep .precio-range input[type="number"] {
  -moz-appearance: textfield;
}

.card-libro{
  background-color: #383636;  
  box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.2);
}

.card-libro p, .card-libro h4{
  color: #e6e3e3;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista-libros h2{
  display: flex;
  justify-content: center;
  color: #e6e3e3;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-primary {
  background-color: #e6e3e3;  
  color: #383636;            
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #1E1E1E;
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-eliminar {
  background-color: #e6e3e3;    
  color: #1E1E1E;
}

.btn-eliminar:hover {
  transform: translateY(-2px);
  background-color: #FFFFFF;
}

.acciones-admin {
  display: flex;
  justify-content: space-around; 
  gap: 8px; 
  margin-top: 1rem; 
}