.perfil-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: var(--color-bg);
  min-height: 100vh;
}

.perfil-card {
  width: 100%;
  max-width: 450px;
  background: var(--color-bg-card-2);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.title {
  color: var(--color-text);
  margin-bottom: 1rem;
}

.avatar-profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--color-text);
  color: #383636;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  color: var(--color-text-soft);
  margin-bottom: 0.2rem;
}

input {
  width: 100%;
  padding: 10px;
  background: #292929;
  border-radius: 8px;
  border: 1px solid #444;
  color: var(--color-text);
}

input:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 8px rgba(214,195,165,0.4);
}

.acciones {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-guardar,
.btn-cancelar {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: var(--transition);
}

.btn-guardar {
  background: var(--color-accent);
  color: #121212;
}

.btn-guardar:hover {
  background: #f7e7cf;
}

.btn-cancelar {
  background: transparent;
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

.btn-cancelar:hover {
  background: #2b2b2b;
}
