.perfil-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #121212;
  min-height: calc(100vh - 120px);
}

.perfil-card {
  background: #383636;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.18);
  animation: fadeIn 0.4s ease-in-out;
}

.title {
  color: #e6e3e3;
  font-family: Georgia, serif;
  margin-bottom: 1.3rem;
}

.avatar-profile {
  width: 90px;
  height: 90px;
  background: #e6e3e3;
  color: #383636;
  border-radius: 50%;
  margin: 0 auto 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.form-content {
  text-align: left;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  color: #d1cfcf;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.3rem;
  font-family: Georgia, serif;
}

input {
  width: 100%;
  padding: 8px;
  background: #2b2a2a;
  border: 1px solid #4b4b4b;
  color: #e6e3e3;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #e6e3e3;
  box-shadow: 0px 0px 6px rgba(255,255,255,0.4);
}

.acciones {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-guardar,
.btn-cancelar {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  font-family: Georgia, serif;
}

.btn-guardar {
  background: #e6e3e3;
  color: #383636;
}

.btn-guardar:hover {
  background: #ffffff;
  transform: translateY(-2px);
}

.btn-cancelar {
  background: transparent;
  border: 1px solid #e6e3e3;
  color: #e6e3e3;
}

.btn-cancelar:hover {
  background: #2a2a2a;
  transform: translateY(-2px);
}

.sub-title {
  margin-top: 1.8rem;
  color: #e6e3e3;
  font-size: 1.1rem;
  font-family: Georgia, serif;
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 4px;
  text-align: left;
}



/* Fade Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
